<header class="container">
  <h1>expenses app</h1>
</header>
<hr />
<main class="container">
  <!-- <input
    type="search"
    placeholder="Type to search..."
    class="form-control"
    [value]="searchValue"
    (input)="searchChanged($event)"
  /> -->
  <input
    type="search"
    placeholder="Type to search..."
    class="form-control"
    [(ngModel)]="searchValue"
  />

  <table class="table">
    <thead>
      <tr>
        <th>description</th>
        <th>amount</th>
        <th>date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let expense of expenses | search: searchValue"
        [hidden]="expense.deleted"
        [class.expensive]="expense.amount > 1000"
      >
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount | currency: "EUR" }}</td>
        <td>{{ expense.date | date: "shortDate" }}</td>
        <td>
          <button (click)="deleteExpense(expense)" class="btn btn-danger">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pre>
    <code>
      {{ searchValue | json }}
    </code>
  </pre>
</main>
