<header class="container">
  <h1>expenses app</h1>
</header>
<hr />
<main class="container">
  <!-- <input
    type="search"
    placeholder="Type to search..."
    class="form-control"
    [value]="searchValue"
    (input)="searchChanged($event)"
  /> -->
  <input
    type="search"
    placeholder="Type to search..."
    class="form-control"
    [formControl]="searchValue"
  />
  <section>
    <table class="table">
      <thead>
        <tr>
          <th>description</th>
          <th>amount</th>
          <th>date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let expense of expenses | search: searchValue.value"
          [hidden]="expense.deleted"
          [class.expensive]="expense.amount > 1000"
        >
          <td>{{ expense.description }}</td>
          <td>{{ expense.amount | currency: "EUR" }}</td>
          <td>{{ expense.date | date: "shortDate" }}</td>
          <td>
            <button (click)="deleteExpense(expense)" class="btn btn-danger">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <form [formGroup]="newExpenseForm" (ngSubmit)="addExpense()">
      <div class="form-group">
        <label for="">Description</label>
        <textarea formControlName="description" class="form-control"></textarea>
        <div
          class="text-danger"
          *ngIf="description.touched && description.invalid"
        >
          Description cannot be empty
        </div>
      </div>
      <div class="form-group">
        <label for="">Amount</label>
        <input formControlName="amount" type="number" class="form-control" />
        <div
          *ngIf="amount.touched && amount.invalid && amount.hasError('min')"
          class="text-danger"
        >
          Your amount cannot be negative
        </div>
        <div
          class="text-danger"
          *ngIf="amount.touched && amount.hasError('required')"
        >
          Amount cannot be empty
        </div>
      </div>
      <div class="form-group">
        <label for="">Date</label>
        <input formControlName="date" type="date" class="form-control" />
        <div class="text-danger" *ngIf="date.touched && date.invalid">
          Date is required
        </div>
      </div>
      <button class="btn btn-primary">Add expense</button>
    </form>
  </section>

  <pre class="mt-3">
    <code>
      {{ newExpenseForm.value| json }}
    </code>
  </pre>
</main>
