<input
  type="search"
  placeholder="Type to search..."
  class="form-control"
  [formControl]="searchControl"
  focus
/>

<table class="table">
  <thead>
    <tr>
      <th>description</th>
      <th>amount</th>
      <th>date</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="expenses">
    <tr
      *ngFor="let expense of expenses"
      [hidden]="expense.deleted"
      [class.expensive]="expense.amount > 1000"
      [zoom]
    >
      <td>{{ expense.description }}</td>
      <td>{{ expense.amount | currency: "EUR" }}</td>
      <td>{{ expense.date | date: "shortDate" }}</td>
      <td>
        <button (click)="deleteExpense(expense)" class="btn btn-danger">
          delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
